#include <windows.h>

#include "resource.h"

IDR_MENU MENU
{
	POPUP "&Game"
	{
		MENUITEM "&New",  IDM_GAME_NEW
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_GAME_EXIT
	}
	POPUP "&Debug"
	{
		MENUITEM "Show &Mines", IDM_DEBUG_SHOW_MINES
	}
}